.menu-row {
  background: #ff6b00 0% 0% no-repeat padding-box;
  opacity: 0.94;
  height: 68px;
}

.mobile-menu {
  background: #212529 0% 0% no-repeat padding-box;
  opacity: 0.94;
}

.height-90 {
  height: 90% !important;
}

.mobile-menu .link {
  width: 100%;
  padding: 13px 30px !important;
}

.nav-container {
  align-items: center;
}

.link-col-active {
  background: #fff 0% 0% no-repeat padding-box;
}

.link {
  color: #fff;
  text-align: center;
  font: normal normal normal 16px/16px "Gotham";
  letter-spacing: -0.2px;
  opacity: 1;
  padding: 26px 30px !important;
  width: auto;
  text-decoration: none !important;
  border-radius: 0 !important;
}

.link:focus{
  box-shadow:none !important;
  border-radius: 0 !important;
}



.link:hover {
  color: #FF6B00;
  background: #fff;
  text-decoration: none;
  cursor: pointer;
}

.navbar {
  padding: 0 1rem;
}

.navbar-brand {
  background: #ffffff 0% 0% no-repeat;
  box-shadow: 0px 0px 5px 0px #a3a3a3;
  height: 120px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.image-div {
  width: 80px;
  padding: 5px;
  margin-top: 6px;
  margin-left: 0;
}

.toggler {
  position: absolute;
  padding: 0;
  top: 10px;
  right: 1rem;
  background-color: #fff;
  width: 30px;
  height: 50px;
  color: #fff;
  background: url("../../Images/burger-menu.png") no-repeat;
  background-size: contain;
  background-position: center;
}

/* .toggler:focus {
  outline: none
}

.navbar-toggler-icon {
  display: none;
}


.navbar-collapse.collapsing .nav-container,
.navbar-collapse.show .nav-container {
  background-color: #ff6b00;
  width: 50%;
  padding-right: 0;
} */

@media only screen and (max-width: 991px) {
  /* .image-div {
    margin-top: 0px;
  } */

  .navbar {
    padding-top: 0;
  }

  .navbar-collapse.collapsing .nav-container,
  .navbar-collapse.show .nav-container {
    background-color: #212529;
  }

  .link {
    font: normal normal normal 25px/16px "Gotham";
  }

  /* mobile css */
  .navbar-collapse {
    width: 100%;
    margin-top: -32px;
    margin-right: -16px !important;
  }

  .navbar-collapse.collapsing {
    background: none;
    color: #000;
  }

  .navbar-nav .link {
    width: 100%;
    display: inline-block;
    padding: 15px 0 !important;
  }

  .navbar-nav .nav-item {
    width: 100%;
    text-align: center;
  }

  .navbar-collapse.collapsing .nav-container,
  .navbar-collapse.show .nav-container {
    float: right;
    height: 35vh;
    display: flex;
    justify-content: space-evenly;
  }
}