#cta {
    padding-top: 50px;
    padding-bottom: 50px;
    background: #8D1B60 0% 0% no-repeat padding-box;
}
#cta .row {

}

#cta h2 {
    margin-top: 50px;
    margin-bottom: 40px;
    color: #fff;
    font: 900 60px/50px 'Gotham Black';
    letter-spacing: -3px;
    text-transform: uppercase;
    opacity: 1;
}

.orange-color {
    color: #FF6B00;
    text-transform: uppercase;
}

.footer-first-paragraph {
    text-align: center;
    font: normal normal normal 20px/23px 'Gotham light';
    letter-spacing: -0.22px;
    color: #FFFFFF;
}

.footer-second-paragraph {
    text-align: center;
    font: normal normal normal 20px/22px 'Gotham';
    letter-spacing: -0.22px;
    color: #FF6B00;
    margin-bottom: 40px;
}

#cta button,
#cta button:hover {
    width: 169px;
    height: 49px;
    text-align: center;
    background: #FFFFFF;
    font: normal normal 900 18px 'Gotham black';
    color: #8D1B60;
    text-transform: uppercase;
    opacity: 1;
    border: none;
}
#cta .footer-button {
    margin-bottom: 50px;
}
@media only screen and (max-width: 600px) {

    #cta h2 {
        font-size: 50px;
        line-height: 50px;
    }
    .footer-first-paragraph {
        font-size: 17px;
        line-height: 19px;
    }
    .footer-second-paragraph {
        font-size: 17px;
        line-height: 19px;
    }
}