#cover {
    margin-bottom: 70px;
    position: relative;
    overflow-x: hidden;
}
#cover .slider-img {
    width: 100%;
}
#cover .row {
    opacity: 0.95;
    bottom: 20%;
    position: absolute;
}
#cover h1 {
    background-color: #fff;
    font: normal normal normal 60px/50px 'Gotham bold';
    letter-spacing: -1.72px;
    color: #FF6B00;
    text-transform: uppercase;
    padding: 15px 15px;
    margin-bottom: 0px;
}
.header-text {
    width: 100%;
    margin: 0;
    color: #8D1B60;
    text-align: center;
    font: normal normal 15px/15px 'Gotham';
    letter-spacing: -0.25px;
}
#cover p {
    width: 90%;
    padding: 15px 15px;
    background: #8d1b60 0% 0% no-repeat padding-box;
    color: #fff;
    text-align: left;
    font: normal normal 16px/18px 'Gotham light'
}
#cover .offset-lg-2 {
    opacity: 0.95;
}

@media only screen and (max-width: 991px) {
    #cover {
        margin-bottom: 0px;
    }
    #cover h1 {
        font: normal normal normal 50px/50px 'Gotham bold';
    }
    .header-text {
        padding: 30px 20px;
        color: white;
        background: #8d1b60 0% 0% no-repeat padding-box;
        margin-bottom: 70px;
        font: normal normal 17px/19px 'Gotham light';
    }
    
}
@media only screen and (max-width: 600px) {
    #cover .row {
        bottom: 20%;
        position: absolute;
        left: 10%;
        right: 10%;
    }

    #cover .slider-img {
       height: 450px;
       width: auto;
    }
    #cover h1 {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }
    #cover h1.d-lg-none {
        text-align: center;
    }
    
}