#goals-grid {
    margin-bottom: 70px;
}
.six-columns-image {
    height: 500px;
    position: relative;
}

.six-columns-text {
    position: absolute;
    bottom: 5%;
    left: 10%;
    width: 70%;
    text-align: left;    
    font: 900 30px/33px 'Gotham Black';
    letter-spacing: -0.8px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.goals {
    height:auto;
    padding:20px 0 40px;
    background: #8D1B60 0% 0% no-repeat padding-box;
    text-align: center;
}

.goals-text {
    font-size: 40px;
    position: relative;
    top: 50%;
    text-align: center !important;
    height: 40px !important;
    width: 200px!important;
    left: auto;
    right: auto;
    display: inline-block;
}

.goals p::before,
.goals p::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    border: 5px solid #FF6B00;
}

.goals p::before {
    top: -10px;
    left: 0;
    border-bottom: none;
    border-right: none;
}

.goals p::after {
    right: 0;;
    bottom: 0;
    border-top: none;
    border-left: none;
}

.boy-art-image {
    background: transparent url('../../Images/boy-art-image.png') 0% 0% no-repeat padding-box;

}

.girl-art-image {
    background: transparent url('../../Images/girl-art-image.png') 0% 0% no-repeat padding-box;
}

.laptop-image {
    background: transparent url('../../Images/laptop-image.png') 0% 0% no-repeat padding-box;
}

.head-image {
    background: transparent url('../../Images/head-image.png') 0% 0% no-repeat padding-box;
}

.hands-image {
    background: transparent url('../../Images/hands-image.png') 0% 0% no-repeat padding-box;
}