@font-face {
    font-family: 'Gotham Black';
    src: url('../fonts/GothamBlack-Italic.eot');
    src: local('Gotham Black Italic'), local('GothamBlack-Italic'),
        url('../fonts/GothamBlack-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamBlack-Italic.woff2') format('woff2'),
        url('../fonts/GothamBlack-Italic.woff') format('woff'),
        url('../fonts/GothamBlack-Italic.ttf') format('truetype'),
        url('../fonts/GothamBlack-Italic.svg#GothamBlack-Italic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Black';
    src: url('../fonts/GothamBlack.eot');
    src: local('Gotham Black'), local('GothamBlack'),
        url('../fonts/GothamBlack.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamBlack.woff2') format('woff2'),
        url('../fonts/GothamBlack.woff') format('woff'),
        url('../fonts/GothamBlack.ttf') format('truetype'),
        url('../fonts/GothamBlack.svg#GothamBlack') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Bold.eot');
    src: local('Gotham-Bold'),
        url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Bold.woff2') format('woff2'),
        url('../fonts/Gotham-Bold.woff') format('woff'),
        url('../fonts/Gotham-Bold.ttf') format('truetype'),
        url('../fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/Gotham-Light.eot');
    src: local('Gotham-Light'),
        url('../fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gotham-Light.woff2') format('woff2'),
        url('../fonts/Gotham-Light.woff') format('woff'),
        url('../fonts/Gotham-Light.ttf') format('truetype'),
        url('../fonts/Gotham-Light.svg#Gotham-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Bold';
    src: url('../fonts/GothamBold.eot');
    src: local('Gotham Bold'), local('GothamBold'),
        url('../fonts/GothamBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamBold.woff2') format('woff2'),
        url('../fonts/GothamBold.woff') format('woff'),
        url('../fonts/GothamBold.ttf') format('truetype'),
        url('../fonts/GothamBold.svg#GothamBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Bold';
    src: url('../fonts/GothamBold-Italic.eot');
    src: local('Gotham Bold Italic'), local('GothamBold-Italic'),
        url('../fonts/GothamBold-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamBold-Italic.woff2') format('woff2'),
        url('../fonts/GothamBold-Italic.woff') format('woff'),
        url('../fonts/GothamBold-Italic.ttf') format('truetype'),
        url('../fonts/GothamBold-Italic.svg#GothamBold-Italic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Light';
    src: url('../fonts/GothamLight-Italic.eot');
    src: local('Gotham Light Italic'), local('GothamLight-Italic'),
        url('../fonts/GothamLight-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamLight-Italic.woff2') format('woff2'),
        url('../fonts/GothamLight-Italic.woff') format('woff'),
        url('../fonts/GothamLight-Italic.ttf') format('truetype'),
        url('../fonts/GothamLight-Italic.svg#GothamLight-Italic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Light';
    src: url('../fonts/GothamLight.eot');
    src: local('Gotham Light'), local('GothamLight'),
        url('../fonts/GothamLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamLight.woff2') format('woff2'),
        url('../fonts/GothamLight.woff') format('woff'),
        url('../fonts/GothamLight.ttf') format('truetype'),
        url('../fonts/GothamLight.svg#GothamLight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Medium';
    src: url('../fonts/GothamMedium.eot');
    src: local('Gotham Medium'), local('GothamMedium'),
        url('../fonts/GothamMedium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamMedium.woff2') format('woff2'),
        url('../fonts/GothamMedium.woff') format('woff'),
        url('../fonts/GothamMedium.ttf') format('truetype'),
        url('../fonts/GothamMedium.svg#GothamMedium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Medium';
    src: url('../fonts/GothamMedium-Italic.eot');
    src: local('Gotham Medium Italic'), local('GothamMedium-Italic'),
        url('../fonts/GothamMedium-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GothamMedium-Italic.woff2') format('woff2'),
        url('../fonts/GothamMedium-Italic.woff') format('woff'),
        url('../fonts/GothamMedium-Italic.ttf') format('truetype'),
        url('../fonts/GothamMedium-Italic.svg#GothamMedium-Italic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}