.title{
    margin-bottom: 50px;
}

.title-text::before,
.title-text::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border: 5px solid #FF6B00;
}

.title-text::before {
    border-bottom: none;
    border-right: none;
    left: -5px;
    top: -10px;
}

.title-text::after {
    border-top: none;
    border-left: none;
    right: -5px;
    bottom: 0;
}

.title-text {
    font-size: 40px;
    font-family: 'Gotham Black';
    font-weight: 900;
    text-align: center;
    letter-spacing: -3.5px;
    color: #8D1B60;
    text-transform: uppercase;
}

@media only screen and (max-width: 600px) {

    .title .col-lg-auto {
        width: 85%;
    }
    #vision .col-lg-auto {
        width: 50%;
    }
}