.two-images-row {
    margin-bottom: 20px;
}
.two-images {
    width: 100%;
    max-height: 334px;
}
.two-images-paragraph {
    margin-bottom: 70px;
}
.two-images-paragraph p, .two-images-paragraph a {
    text-align: center;
    font: normal normal normal 20px/23px 'Gotham light';
    letter-spacing: -0.25px;
    color: #656565;
}

.two-images-paragraph a{
    font-weight:bold;
}

.two-images-paragraph a:hover{
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    .two-images-row {
        margin-bottom: 40px;
    }

    .two-images-paragraph p {
        font-size: 17px;
        line-height: 19px;
    }
}