#projects {
    margin-bottom: 20px;
}
.image-fit-col {
    width: 100%;
}

#projects p, #projects a {
    width: 100%;
    text-align: left;
    font: 300 18px/20px 'Gotham light';
    letter-spacing: -0.22px;
    color: #656565;
}

#projects a {
    font-weight: bold;
}

#projects a:hover {
    text-decoration: none;
}


#projects h3 {
    margin-bottom: 12px;
    text-align: left;
    font: 900 35px/35px 'Gotham Black';
    letter-spacing: -1px;
    color: #FF6B00;
    text-transform: uppercase;
    opacity: 1;
}

.text-image-button, .text-image-button:hover {
    color:#fff;
    border: none;
    width: 157px;
    height: 49px;
    background-color: #8D1B60;
    font: 900 18px/20px 'Gotham Black';
    padding: 15px 0;
}

.extra-row-padding{
    padding: 0 0 50px 0;
}
@media only screen and (max-width: 991px) { 
    .two-images-row {
        margin-left: -15px;
        margin-right: -15px;
    }
    #projects h3 {
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 30px;
        line-height: 30px;
    }
    #projects p {
        font-size: 16px;
        line-height: 18px;
    }
    .text-image-button {
        margin-top: 20px;
        margin-bottom: 16px;
    }
}
@media only screen and (max-width: 600px) {
    /* .two-images-row {
        margin-left: -15px;
        margin-right: -15px;
    }
    #projects h3 {
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 30px;
        line-height: 30px;
    }
    #projects p {
        font-size: 16px;
        line-height: 18px;
    }
    .text-image-button {
        margin-top: 20px;
        margin-bottom: 16px;
    } */
}