.headings {
    width: 90%;
    position: relative;
    padding: 20px 0px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.headings h2 {
    font-size: 40px;
    text-align: center;
    font-family: 'Gotham Black';
    font-weight: 900;
    letter-spacing: -1.68px;
    color: #8D1B60;
    text-transform: uppercase;
}

.headings h2 span {
    letter-spacing: -1.68px;
    color: #FF6B00;
    text-transform: uppercase;
}

.paragraph {
    text-align: center;
    font: normal normal normal 20px/23px 'Gotham light';
    letter-spacing: -0.7px;
    color: #656565;
    opacity: 1;
}

.headings::before,
.headings::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    border: 5px solid #FF6B00;
}

.headings::before {
    border-bottom: none;
    border-right: none;
    left: 0;
    top: 0;
}

.headings::after {
    border-top: none;
    border-left: none;
    bottom: 0;
    right: 0;
}

@media only screen and (max-width: 600px) {
    .headings h2 {
        font-size: 25px;
    }
    .paragraph {
        font-size: 17px;
        line-height: 19px;
    }
    .headings::before {
        left: 10px;
    }
    
    .headings::after {
        right: 10px;
    }
}