footer {
    background: #FF6B00 0% 0% no-repeat padding-box;
    
}
.rights-par {
    padding-left: 20px;
    
    font-weight:200;
}

.margin-bottom-100px {
    margin-bottom: 100px;
}

.footer-second-section {
    font-family:'Gotham light';
    background-color:#FF6B00  ;
    color: #fff;
    height: 80px;
    opacity: 1;
    font-size: 14px;
}

.align-vertical {
    margin-top: auto;
    margin-bottom: auto;
}

.display-inline {
    display: inline;
}

.nabad-link,
.nabad-link:hover {
    font-family:'Gotham';
    font-weight:200;
    color: #fff;
    text-decoration: none;
    padding-left:0;
}

.padding-10px {
    padding: 0 10px;
}
.ico {
    height: 20px;
}
@media only screen and (max-width: 991px) {
    .footer-second-section {
        padding: 15px 0px;
    }
}
@media only screen and (max-width: 600px) {
    
}