.purple-background {
    background-color: #8D1B60
}

.form-header {
    color: #fff;
    text-align: left;
    font: normal normal 900 60px/50px 'Gotham';
    letter-spacing: -4px;
    text-transform: uppercase;
    opacity: 1;
}

.form-header span {
    color: #ff6b00;
}
.modal-header {
    padding: 2em 2em;
}
.modal-header .close {
    color: #fff;
}
.modal-body {
    padding: 2em;
}
.form-group {
    margin-bottom: 2em;
}
.form-label {
    margin-bottom: 0;
    padding: 6px 10px;
    text-align: center;
    font: normal normal normal 20px 'Gotham';
    letter-spacing: -0.2px;
    color: #FFFFFF;
    background-color: #FF6B00;
    border-radius: 10px 10px 0px 0px;
    opacity: 1;
}

.form-control {
    font: normal normal normal 20px/50px 'Gotham';
    height: 40px;
    margin-top: 0;
    border:none;
    border-top: 2px solid #ff6b00;
    box-shadow: 0px 3px 6px #00000029;
}

textarea.form-control{
    height:100px;
    line-height: 20px;
}

.form-paragraph {
    height: 82px;
    text-align: left;
    font: normal normal normal 15px/16px 'Gotham';
    letter-spacing: -0.15px;
    color: #FF6B00;
    opacity: 1;
}

#shortBiography,
#Statement {
    min-height: 63px;
}

#socialMedia {
    margin-bottom: 10px;
}

input[type="submit"],.close-button {
    padding: 0;
    font: normal normal 900 20px/60px 'Gotham';
    letter-spacing: -1px;
    text-transform: uppercase;
    color: #fff;
    border: none;
    width: 171px;
    height: 57px;
    background: #8D1B60 0% 0% no-repeat padding-box;
    opacity: 1;
}

.font-20px{
    font: normal normal 900 20px/26px 'Gotham';
}

.close-button {
    width:100%;
}

@media only screen and (max-width: 991px) {
    .modal-body {
        padding: 1rem;
    }
    
    .modal {
        position: absolute;
    }

    .form-label {
        font: normal normal normal 16px 'Gotham';
    }
}